<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hds.aplications.com.mycp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".MyCP"
        android:allowBackup="true"
        android:icon="@mipmap/home"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="hd.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="hds.aplications.com.mycp.models.Language,hds.aplications.com.mycp.models.Country,hds.aplications.com.mycp.models.ReservationDetail,hds.aplications.com.mycp.models.Destination,hds.aplications.com.mycp.models.Room,hds.aplications.com.mycp.models.Accommodation,hds.aplications.com.mycp.models.Reservation,hds.aplications.com.mycp.models.ReservationStatus,hds.aplications.com.mycp.models.RoomType,hds.aplications.com.mycp.models.User,hds.aplications.com.mycp.models.Currency,hds.aplications.com.mycp.models.AccommodationCategory,hds.aplications.com.mycp.models.AccommodationType,hds.aplications.com.mycp.models.Traslation,hds.aplications.com.mycp.models.RoomClima,hds.aplications.com.mycp.models.Bathroom,hds.aplications.com.mycp.models.RoomAudiovisual,hds.aplications.com.mycp.models.ServiceFee" />

        <receiver android:name="mgleon.common.com.receivers.ConnectivityReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- The authenticator service -->
        <service
            android:name=".authenticator.AuthenticationService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Sync service -->
        <provider
            android:name=".sync.provider.StubProvider"
            android:authorities="@string/CONTENT_AUTHORITY"
            android:exported="false"
            android:label="@string/sync_data_title"
            android:syncable="true" />

        <service
            android:name=".sync.adapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- Activities -->
        <activity
            android:name=".view.activities.ActivityHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
                <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            -->
        </activity>
        <activity
            android:name=".view.activities.ActivitySearch"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ActivityDetail"
            android:configChanges="screenLayout|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ActivityGalery"
            android:configChanges="screenLayout|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ActivityBook"
            android:configChanges="screenLayout|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ActivityPaymentReservations"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ActivityLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".view.activities.ActivityNoFilesMap" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".view.activities.ActivityMap"
            android:configChanges="screenLayout|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".view.activities.ActivityReservationDetail" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".view.activities.ActivityInstructions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ActivityRegister"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ActivityPaymentAllReservations"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ActivityProfile"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.MycasatripActivity"
            android:label="@string/title_activity_mycasatrip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.CommentsActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>